<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAmCME80w5hECbH2fYkg4qG-hXAk9x2VM</string>
	<key>GCM_SENDER_ID</key>
	<string>903977041862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.modularitylabs.spiralist.dev</string>
	<key>PROJECT_ID</key>
	<string>desktopdev-ef45f</string>
	<key>STORAGE_BUCKET</key>
	<string>desktopdev-ef45f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903977041862:ios:0a0f4e76453c063fde7cc7</string>
</dict>
</plist>